{% extends 'header.html' %}

{% block content %}
<div class="post content_body">
	<h1>{{title}}</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width:550px;">名称</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% if posts.length>0 %}
			{% for post in posts %}
			<tr>
				<td>
					<a href="/article">{{post.title}}</a>
				</td>
				<td>
					已通过
				</td>
				<td>
					<div class="btn-group">
						<a href="/admin/post" class="btn btn-default">删除</a>
					</div>
				</td>
			</tr>
			<% endfor %>
			{% endif %}
		</tbody>
	</table>
</div>
<script type="text/javascript" src="/default/assets/js/index.js"></script>
{% endblock %}